body{
    color: white;
}
.strike{
    text-decoration: line-through;
    color: rgb(173, 171, 166);
}
.thumbnailer{
    display: inline-block;
}
.thumbnailer-default{
    background-color: rgba(100, 100, 100, .85);
}
.thumbnailer-quote{
    background-color: rgba(236, 231, 231, 0.85);
    color: #642d03;
    border: 1px solid #642d03;
    margin: auto;
}
.icon-button{
    background: none;
    border: none;
}
.icon-button-trash{
    color: #a80909;
}
.icon-button-add{
    color: #0000ff;
}
.icon-button-config{
    color: red;
    font-size: 2em;
}
input[type=text] {
    background-color: #cccccc;
    color: #000000;
}
.top-row{
    min-height: 95vh;
}
.mid-row{
    min-height: 75vh;
}
.quote-box{
    margin: auto;
}
.clock{
    font-size: 14em;
}
.salutations{
    font-size: 3em;
}
.weather-box, .todo-box{
    margin-top: 15px;
}
.clock-box{
    margin-top: 250px;
}
.weather-span{
    font-size: 2em;
    line-height: 2em;
}